{% extends '::base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}

        <h2>Votre Entreprise </h2>

        <p>Nom de société : {{ company.name }}</p>
        <p>Description : {{ company.description }}</p>
        <p>Domaine : {{ company.domain.name }}</p>
        <p>Lieu : {{ company.location.country }}</p>

    <a href="">Ajouter</a>

    <h2>Annonces de l'entreprise :</h2>
    <ul>
        <li>Annonce 1 <a href="">Modifier </a> <a href="">Supprimer </a></li>
    </ul>

{% endblock %}
