{% extends '::base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    <table>
        <thead>
        <tr>
            <th>Sujet</th>
            <th>Description</th>
            <th>Détails</th>
        </tr>
        </thead>
        <tbody>

        {% for announce in announces %}
            <tr>
                <td>{{ announce.subject }}</td>
                <td>{{ announce.description[:20] }}</td>
                <td><a href="{{ path('announce_profil', { 'id': announce.id }) }}">Détails</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
